@media (max-width: 50em) {
  .grid {
    grid-template-columns: 1fr;
  }

  .info {
    grid-column: 1/2;
    grid-row: 2/3;

    text-align: center;
  }

  .stats{
    flex-direction: column;
    gap: 2.4rem;
  }
  
}
